@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#header-section {
    height: 30%;
    position: relative;
    overflow-y: hidden;
    background-color: white;
}

#menu a {
    font-family: Poppins;
    color: #71bbd4;
    margin: 1em;
}

.navbar-toggler {
    background-color: #71bbd4;
}

#toggleMobileMenu {
    background-color: white;
}

#toggleMobileMenu a {
    color: #71bbd4;
}

#logo {
    font-family: Anton;
    color: #62b4cf;
    text-shadow: 1px 1px black;
    float: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 1em;
}

#header-outer {
    height: 35em;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#header-image {
    height: 35em;
    width: 100%;
    background: url('https://images.pexels.com/photos/863988/pexels-photo-863988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center center no-repeat;
}

#header-text, #header-text h3 {
    color: #ffffff;
}

#header-text, #header-text h2 {
    color: #ffffff;
    text-transform: uppercase;
}

#header-text {
    font-size: 150%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px black;

    width: 30em;
    height: 20em;

    padding-top: 12em;
    padding-right: 3em;

    bottom: 2px;
    left: 5em;

    position: absolute;

}

#intro-text {
    font-family: Poppins;
    text-align: center;
    line-height: 2em;
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
}